/acqassets/
.shimmercat.loves.devs
.*.swp
.*.swo
/frontend/site/jsapp/
/frontend/bower_components/
/frontend/site/css/main.css*
/frontend/.sass-cache/
/frontend/.sconsign.dblite
/frontend/site/fonts/Open_Sans.zip
/frontend/site/css/superfish.css
/frontend/site/css/superfish.css.map
/frontend/site/css/superfish-vertical.css
/frontend/site/css/superfish-navbar.css
/frontend/site/css/megafish.css
/frontend/site/index.html
/frontend/cache-keys.json
wheresshimmercat
*.pyc
*.wpu
*.rdb
core.*
core
/shimmercat-*.run
*/#*#
/frontend/site/info/documentation/index.html
shimmercat-api/shimmercat-api/venv/
.idea/
frontend/venv/
frontend/site/
*.*~
db.sqlite3
venv/
django_venv_location
